<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="40" *ngIf="item">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>
          <h3>{{item.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-title-group>
      <img matCardImage src={{item.image}} alt={{item.name}}>
      <mat-card-content>
        <p>{{item.description}}
        </p>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button (click)="onAction($event)">LIKE</button>
        <button mat-button (click)="onAction($event)">SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>

  <div fxFlex="40" *ngIf="item && item.comments">
    <h1>Caracteristicas</h1>

    <mat-list>
      <!--<mat-list-item *ngFor="let comment of item.comments">-->
      <p matLine>Nombre:{{item.name}}</p>
      <p matLine>Categoria:{{item.category}}</p>
      <p matLine>Descripcion:{{item.description}}</p>
      <p matLine>Precio:{{item.price}}</p>
      <!--<p matLine>&#45;&#45; {{comment.author}} {{comment.date | date}}</p>-->
      <!--</mat-list-item>-->
    </mat-list>
    <!--<mat-grid-list [cols]="2" bind-rowHeight="'200px'" [gutterSize]="'10px'">-->
    <!--<mat-grid-tile *ngFor="let comment of item.comments" >-->
    <!--<img height="200px" src={{comment.author}} alt={{item.name}}>-->
    <!--<mat-grid-tile-footer>-->
    <!--<h1 mat-line>{{item.name | uppercase}}</h1>-->
    <!--</mat-grid-tile-footer>-->
    <!--</mat-grid-tile>-->
    <!--</mat-grid-list>-->
  </div>
</div>
